<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.connection.pool_size">1</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dreamcar_reverse_auction</property>
		<property name="hibernate.connection.username">root</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="useSSL">false</property>
		
		
		<mapping class="packt.java.spring.mvc.dreamcar.pojo.User"/>
		<mapping class="packt.java.spring.mvc.dreamcar.pojo.Company"/>
		<mapping class="packt.java.spring.mvc.dreamcar.pojo.Auction"/>
		<mapping class="packt.java.spring.mvc.dreamcar.pojo.Bid"/>
		<mapping class="packt.java.spring.mvc.dreamcar.pojo.Component"/>
		
	</session-factory>
</hibernate-configuration>
